<%= render 'pages/carousel' unless user_signed_in? %>


<div class="container">
<div class="banner">   		
  
  <div class="row">	 

   		   	
	  <div class="col-md-4">
	    <h1 class="warning">Sociedade</h1>	
	  	<% @articles.sort_by { |article| article.reviews.count }.reverse.each_with_index do |article, c| %>
			  <% if article.category_id == 1 %>	
			  	<div class="panel panel-default">
      			  <div class="panel-body">	  	
						<h1><%= link_to article.title, article %></h1>
						<%= link_to image_tag(article.image.url(:medium)), article if article.image_updated_at%>
					<div class="panel-footer">
						<h7><%= link_to article.user.name, article.user, style: 'color: black' %></h7><br>
						<%= pluralize(article.reviews.count, "voto") %>
					</div>
				  </div>
				 </div>
				 <% break if c > 6 %>
			  <% end %>
	  	<%end%>
	  </div>
			  			  
		  	
		  	
	  <div class="col-md-4">	
	  	<h1 class="danger">Esporte</h1>	
	  	<% @articles.sort_by { |article| article.reviews.count }.reverse.each_with_index do |article, c| %>
			  <% if article.category_id == 2 %>		  	
			  	<div class="panel panel-default">
      			  <div class="panel-body">	  	
						<h1><%= link_to article.title, article %></h1>
						<%= link_to image_tag(article.image.url(:medium)), article if article.image_updated_at%>
					<div class="panel-footer">
						<h7><%= link_to article.user.name, article.user, style: 'color: black' %></h7><br>
						<%= pluralize(article.reviews.count, "voto") %>
					</div>
				  </div>
				 </div>
				 <% break if c > 6 %>
			  <% end %>
	  	<%end%>
	  </div>
			  
			
					
					
  	  <div class="col-md-4">	
  	  	<h1 class="info">Entretenimento</h1>	
	  	<% @articles.sort_by { |article| article.reviews.count }.reverse.each_with_index do |article, c| %>
			  <% if article.category_id == 3 %>		  	
			  	<div class="panel panel-default">
      			  <div class="panel-body">	  	
						<h1><%= link_to article.title, article %></h1>
						<%= link_to image_tag(article.image.url(:medium)), article if article.image_updated_at%>
					<div class="panel-footer">
						<h7><%= link_to article.user.name, article.user, style: 'color: black' %></h7><br>
						<%= pluralize(article.reviews.count, "voto") %>
					</div>
				  </div>
				 </div>
				 <% break if c > 6 %>
			  <% end %>
	  	<%end%>
	  </div>
			  
  </div><!--row-->

<div class="row">

	<div class="col-md-4">
	    <h1 class="success">Saúde</h1>	
	  	<% @articles.sort_by { |article| article.reviews.count }.reverse.each_with_index do |article, c| %>
			  <% if article.category_id == 4 %>	
			  	<div class="panel panel-default">
      			  <div class="panel-body">	  	
						<h1><%= link_to article.title, article %></h1>
						<%= link_to image_tag(article.image.url(:medium)), article if article.image_updated_at%>
					<div class="panel-footer">
						<h7><%= link_to article.user.name, article.user, style: 'color: black' %></h7><br>
						<%= pluralize(article.reviews.count, "voto") %>
					</div>
				  </div>
				 </div>
				 <% break if c > 4 %>
			  <% end %>
	  	<%end%>
	  </div>
			  			  
		  	
		  	
	  <div class="col-md-4">	
	  	<h1 class="primary">Tecnologia</h1>	
	  	<% @articles.sort_by { |article| article.reviews.count }.reverse.each_with_index do |article, c| %>
			  <% if article.category_id == 5 %>		  	
			  	<div class="panel panel-default">
      			  <div class="panel-body">	  	
						<h1><%= link_to article.title, article %></h1>
						<%= link_to image_tag(article.image.url(:medium)), article if article.image_updated_at%>
					<div class="panel-footer">
						<h7><%= link_to article.user.name, article.user, style: 'color: black' %></h7><br>
						<%= pluralize(article.reviews.count, "voto") %>
					</div>
				  </div>
				 </div>
				 <% break if c > 4 %>
			  <% end %>
	  	<%end%>
	  </div>

	   <div class="col-md-4">
	   	<div class="panel panel-default">
	   		<div class="panel-heading"><h2> Recentes </h2></div>
      		<div class="panel-body">      			
      			<% @articles.last(9).reverse.each do |article| %>
      			<h4><%= link_to article.title, article %></h4><br>
      			<% end %>
      		</div>
      	</div>
	   	<div class="fb-like-box" data-href="https://www.facebook.com/wisepeek" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>

	   </div>

</div><!--banner-->
</div>
<br><br><br>
<%= render "pages/footer" %>
				  	

