
<h1>Artigos</h1>


    <% @articles.each do |article| %>
      
        <h2><%= link_to article.title, article %></h2>
        <br>
        
        <%= pluralize(article.reviews.count, "voto") %>
        <%= button_to '+1', upreview_article_path(article), method: :post %>
        
        <%= link_to 'Editar', edit_article_path(article) %>
        <%= link_to 'Excluir', article, method: :delete, data: { confirm: 'Tem certeza?' } %>
      
    <% end %>
 

<br>

<%= link_to 'New Article', new_article_path %>
