<h2>
<strong><%= @article.title %></strong>
</h2> 
<%= @article.created_at.strftime("%d %b. %Y") %>, às
<%= @article.created_at.strftime("%H:%M") %>, <%= pluralize(@article.reviews.count, "voto") %>
<br><br>

<div class="suave"><%= image_tag @article.image.url(:medium) if @article.image_updated_at %></div>

<p id="notice"><%= notice %></p>
<br><br>

<h3>
<%= @article.content.html_safe.gsub(/\r\n?/,"<br/><br/>").html_safe %>
</h3>


<% if @article.user == current_user %>
 <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_article_path(@article) %> |
 <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
 <% end %>
 <%= link_to raw('<span class="glyphicon glyphicon-arrow-left"></span>Voltar'), :back %>


<hr class="divider">
<footer>
<p><strong>Gostou do que leu? Vote para este artigo tenha destaque na página principal!</strong></p>
<%= button_to 'VOTAR', upreview_article_path(@article), method: :post %><br><br>
<p><strong>Já votou? Você pode ajudar este artigo a ganhar mais votos compartilhando ele em seu facebook! (aparecerá após seu voto)</strong></p>
<div class="fb-share-button" data-href="<%= request.original_url %>" data-type="button"></div>
</footer>
<hr class="divider">


<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5" data-colorscheme="light"></div>