<p id="notice"><%= notice %> </p>

<div class="jumbotron">
  <div class="row">
  	<div class="col-md-4">
		<h2><strong><i> <%= @user.name %> </i></strong></h2>
		<% if @user.image_updated_at %>
		  <%= image_tag @user.image.url(:medium) %>
		<% elsif @user == current_user %>
	      <h2 class="text-muted"> Você não pois sua foto de perfil... Clique <%=link_to "aqui", edit_user_path(current_user) %> e faça isso agora mesmo!</h2>
	    <% else %>
	  	  <h2 class="text-muted">Sem foto</h2>
	  <% end %>
	</div>
  	<div class="col-md-8"><br><br>
  	  <% if @user.description %>
		<h8><%= @user.description %></h8>
	  <% elsif @user == current_user %>
	    <h2 class="text-muted"> Você ainda não escreveu usa descrição... Clique <%=link_to "aqui", edit_user_path(current_user) %> e faça isso agora mesmo!</h2>
	  <% else %>
	  	<h2 class="text-muted">Este usuário ainda não possui descrição!</h2>
	  <% end %>
	</div>
  </div> <!--row -->
</div>

<% @articles.reverse.each do |article| %>

	 <div class="col-md-4">	
	 	<div class="panel panel-default">
		  <div class="panel-body">	  	
			<h1><%= link_to article.title, article %></h1>
			<%= image_tag article.image.url(:medium) if article.image_updated_at%>
		</div>
	</div>
</div>

	
<% end %>